BOT_TOKEN=
ADMIN_IDS=1432810519
DB_PATH=/data/martekovka.db
TZ=Asia/Tashkent
YORDAMCHI_HUB_URL=https://davlat-yordamchi-bot-production.up.railway.app
YORDAMCHI_HUB_SECRET=
YORDAMCHI_BOT_TOKEN=
GROUP_ID=